<div id="favorites">

  <div class="gallery-name">
    <div>
      <h1><%= @header_name %></h1>
    </div>
  </div>

  <div id="work-area">
    <header id="welcome">
      <h1>Work Area </h1>
    <header>
    <div id="products">
    <h3 id="drag-hint">Style Tiles are fully Draggable!<h3>
    <% @favorites.each do |favorite| %>

    <div class="favorite">

      <%= link_to image_tag(Product.find(favorite.product_id).image_url(:thumb)),
                              Product.find(favorite.product_id),
                              :class => "product-thumbnail" %>


      <div class="actions">

       <%= form_tag url_for( :controller => "favorites",
                    :action => "destroy",
                    :method => "delete",
                    :user_id => current_user.id,
                    :product_id => favorite.product_id),
                    :remote => true do %>

        <span class="destroy">X</span>
        <%= submit_tag "Un favorite it!", :class => "un-fav" %>
        <% end %>


      </div>
    </div>
    <% end %>
    </div>
  </div>
  <div class="clear"></div>
</div>
