// Place all the styles related to the Favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'compass/css3';

.favorite {
  margin:0px 10px 10px 0px;
  display: inline-block;
  position: relative;
  -webkit-transform: rotate(0deg);
  &:hover {
    .actions {
      opacity: 1;
    }
  }
 
  .image {
    img { border-radius: 3px; }
  }

  .actions {
    opacity: 0;
    -webkit-transition: all .7s;
    .destroy {
      top: -8px;
      right: -8px;
      text-decoration: none;
      background: white;
      border-radius: 100px;
      padding: 4px 7px;
      position: absolute;
    }
  }
}



// @for $i from 1 through 12 {
//   .rotate#{$i*30} {
//     -webkit-transform: rotate(0deg +($i*30));
//     -webkit-transition: all .33s;
//   }
// }
.add-to-fav {
  // display: none;
}

// .fav-star {
//   font-size: 4em;
//   font-weight: 900;
//   color: red;

// }

.favorite-it {
  float: right;
  color: rgb(255, 249, 202);
  font-size: 1.8em;
  @include single-text-shadow(2px);
}

.fav-star{
  content: "2605";
  position: relative;
  font-size: 40px;
  @include text-shadow(#6975B4 1px 0px 1px);
  &.success {
    left:10px;
    content: "\2605";
    position: absolute;
    font-size: 35px;
    color: #FFEB00;
    @include text-shadow(rgba(blue, 0.2) 1px 2px 0)
  }
}

.fav-star:hover:before {
  top: -2px;
  left: 2px;
  content: "\2605";
  position: absolute;
  font-size: 35px;
  color: #FFEB00;
  @include text-shadow(rgba(blue, 0.2) 1px 2px 0)
}


#work-area {
  min-height: 600px;
}