// Place all the styles related to the Favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'compass/css3';

.favorite {
  margin: 10px;
  display: inline-block;
  position: relative;
  -webkit-transform: rotate(0deg);
  &:hover {
    .actions {
      opacity: 1;
    }
  }
  .image {
    img { border-radius: 3px; }
  }
  .actions {
    opacity: 0;
    -webkit-transition: all .7s;
    .destroy {
      top: -8px;
      right: -8px;
      text-decoration: none;
      background: white;
      border-radius: 100px;
      padding: 4px 7px;
      position: absolute;
    }
  }
}

#work-area {
  #welcome {
    h1 { font-size: 26px;}
  }
}

#work-area #products {
  border: 5px solid #5F5F5F;
  min-height: 1600px;
  @include clearfix;
}