@import "compass";
@import "compass/reset";
@import "compass/css3";



$container-width: 90%;
$top-bar-height: 40px;

a {
  color: white;
  text-decoration: none;
}

.center {
  left: 0;
  width: 100%;
  position: fixed;
  pointer-events: none;
  > div {
    width: $container-width;
    margin: 0px auto;
    position: relative;
    pointer-events: none;
  }
}