
#tag_cloud {
  top: 20px;
  position: absolute;
  padding: 20px;
  background: transparentize(#eee,.9);
  margin: 20px 20px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}
#products {
  @include clearfix;
}

.galleryItem {
  width: 321px;
  min-height: 243px;
  float: left;
  position: relative;
  margin: 20px;
  &:hover {
    .fav-star {
      opacity: .88;
    }
  }

  > a > img {
    border-radius: 14px;
    border-top: 1px solid transparentize(#D6D6D6,.85);
    border-left: 1px solid transparentize(#8D8D8D,.82);
    @include transition(box-shadow, .2s);
    @include box-shadow(2px 3px 5px 0px transparentize(black,.7));
  }
  .details {
    min-height: 40px;
    .name {
      color: rgb(221, 221, 221);
      padding-top: 10px;
      text-align: center;
      font-weight: bold;
    }
    .actions {
      font-size: 10px;
      text-align: center;
      color: #777;
    }
  }
}

.galleryItem.favorited {
  > a > img {
    @include box-shadow(0 0 1px 4px #FFDB6B);
    @include transition(box-shadow, .26s);
  }
  .fav-it { display: none; }
  .un-fav-it { display: block; }
  .fav-star {
    opacity: 1;
    color: darken(#FFEB00,10%);
    @include text-shadow(rgba(83, 80, 78, 0.8));
    &:before {
      top: 7px;
      left: 2px;
      content: "\2605";
      font-size: 30px;
      position: absolute;
      color: lighten(#FFDB6B,9%);
    }
  }
}
.fav-star {
  opacity: .3;
  font-size: 35px;
  position: relative;
}
.favorite-toggle {
  position: absolute;
  right: 2px;
  top:  210px;
  width: 60px;
  height: 60px;
  > a > form > input { display: none; }
}

.fav-it {
  color: #D8D8D8;
}
.un-fav-it {
  display: none;
}

.upload {
  border-top: solid 1px #CCC;
  width: 400px;
  padding-top: 10px;
  margin-top: 10px;

  .progress {
    margin-top: 8px;
    border: solid 1px #555;
    border-radius: 3px;
    -moz-border-radius: 3px;
    .bar {
      height: 10px;
      background: #3EC144;
    }
  }
}


// Show


#show{
  width: 100%;
  margin: 50px auto;
  background: #2E2E2E;
  @include clearfix;
  .product {
    width: 96%;
    padding: 2%;
    height: auto;
    position: relative;
    header {
      h1 { font-size: 20px; margin-bottom: 10px; }
      margin: 20px auto;
      color: darken(white,10%);
    }
    .favorite-toggle {
      top: -4px;
      right: 18px;
    }
    .full-size-img {
      @include border-radius(20px);
      width: 94%;
      margin: 0px auto;
    }
    .back-button {
      position: absolute;
      top: -10px;
      left: 10px;
    }
  }
}
